.header-top {
  background: var(--color);
  padding: 1.3rem 0;
  z-index: 3;
}
#lang_sel .nav-lang {
  list-style: none;
}
#lang_sel .nav-lang-item {
  padding: 1.3rem 0;
}
#lang_sel .nav-lang-item .lang_sel_sel {
  text-decoration: none;
  opacity: 0.7;
  text-transform: capitalize;
}
#lang_sel .nav-lang-item:hover .icl-item {
  top: 5rem;
  visibility: visible;
  opacity: 1;
}
#lang_sel a,
#lang_sel a:visited {
  border: none;
  padding: 0;
}
#lang_sel .lang_sel_sel:after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  line-height: var(--lh-h5);
  background-image: url(../images/dropdown.png);
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
}
#lang_sel .nav-lang .icl-item {
  left: -2rem;
  top: 55px;
  transition: all 0.3s;
  z-index: 999;
  position: absolute;
  background: var(--white);
  width: 130px;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
#lang_sel .nav-lang .icl-item:before {
  content: "";
  display: inline-block;
  background: transparent;
  height: 3px;
  width: 100%;
  position: absolute;
  top: -3px;
  right: 0;
}
#lang_sel .icl-item .icl-item-lang {
  background: var(--white);
  list-style: none;
  margin-bottom: 5px;
  transition: all 0.3s;
  border-radius: 5px;
}
#lang_sel .nav-lang .icl-item-lang.active,
#lang_sel .nav-lang .icl-item-lang:hover {
  border-color: #111;
  background: #f5f5f5;
  transition: all 0.3s;
}
#lang_sel .icl-item-lang .lang-link {
  font-size: 1.4rem;
  color: #777;
  height: auto;
  padding: 0 1rem;
  line-height: 2em;
  height: 2em;
}
#lang_sel .icl-item-lang.active .lang-link,
#lang_sel .icl-item-lang:hover .lang-link {
  color: #111;
}
#lang_sel .nav-lang .icl-item-lang:last-child {
  margin-bottom: 0;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.header-bottom {
  padding: 2rem 5rem;
  background: var(--white);
}
.header-logo {
  height: 7rem;
}
/* button menu */
.navbar-toggler {
  padding: 0;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  display: inline-block;
}
.navbar-toggler-icon {
  vertical-align: middle;
  background: url(../images/menu\ 2.png) no-repeat center;
}
.menu-main .menu-item:not(:first-child) {
  padding-left: 5rem;
}
.header-populated__item:not(:nth-child(4)) {
  margin-right: 25px;
}
/* index */
.banner-main .slider-nav {
  top: 50%;
  left: 5rem;
  right: 5rem;
}
.slider-container {
  overflow: hidden;
}
.slider-slide {
  display: none;
  transition: opacity 0.5s ease-in-out;
}
.slider-slide__item {
  bottom: 5rem;
}
.slider-prev,
.slider-next {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  color: transparent;
}
.slider-prev {
  background: url(../images/Arrow-left.png);
}
.slider-next {
  background: url(../images/Arrow-right.png);
}
.shop-home {
  margin: 0 auto;
}
.shop-featured__main {
  flex-wrap: nowrap;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
.discover-media {
  width: 50%;
}
.discover-main {
  background: #f5f5f5;
  padding: 133px 90px;
  width: 50%;
}
.product-item {
  scroll-snap-align: start;
}
.price {
  color: #555562;
  text-transform: inherit;
}
.collection {
  background: url(../images/collection.png) no-repeat left top;
  background-size: cover;
}
.collection-main {
  padding: 185px 0;
  max-width: 327px;
}
.collection-text {
  color: var(--gray);
}
.btn-see {
  color: var(--white);
  background: transparent;
}
.btn-see::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -1rem;
  width: 5px;
  height: 9px;
  background: url(../images/seemore.png) no-repeat center center;
  transform: translate(0, -50%);
}
.service {
  background: #f5f5f5;
}
.service-item {
  background: var(--white);
  padding: 5rem 2rem;
}
.service-item .price {
  color: var(--gray2);
  margin-bottom: 3rem;
}
.service-item.mb-20 {
  margin-bottom: 0;
}
.footer {
  background: var(--black);
}
.footer-top {
  padding: 5rem 0;
  border-bottom: 1px solid #313135;
}
.footer-bottom {
  padding: 23px 0;
}
.footer-bottom__text {
  font-size: var(--heading-h5);
  line-height: var(--lh-h5);
  color: var(--gray2);
}
.footer-mid__text {
  transition: all 0.3s;
}
.footer-mid__text:hover {
  color: var(--white);
}
.footer__item-des-item:not(:last-child) {
  margin-bottom: 15px;
}
.footer-input,
.footer-button {
  background: #262628;
  padding: 9px 1rem 8px;
  outline: none;
  font-size: var(--heading-h5);
  line-height: var(--lh-h5);
}
.footer-input,
.footer-input::placeholder {
  color: var(--gray2);
}
.footer-button {
  color: var(--white);
  transition: all 0.3s;
}
.footer-button:hover {
  cursor: pointer;
  background: var(--white);
  color: var(--gray2);
}
.footer-social-li:not(:last-child) {
  margin-right: 25px;
}
#playPauseBtn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}
#playPauseBtn:hover {
  cursor: pointer;
}
/* Our History */
.banner-page {
  padding: 82px 0;
}
.history-item__content {
  padding: 142px 0;
}
.history-item:not(:last-child) {
  margin-bottom: 100px;
}
.why {
  background: url(../images/why.png) no-repeat center center;
  background-size: cover;
  padding: 175px 0;
}
/* become */
.form-item__title {
  margin-bottom: 11px;
}
.become-form__item .form-control,
.become-form__item .form-select__option,
.become-checkbox {
  text-transform: inherit;
}
.form-select,
.form-input-item {
  height: 60px;
}
.form-input-item,
.form-textarea {
  color: var(--black3);
}
.form-control-item {
  width: 100%;
  padding: 1.8rem 2rem;
  background: var(--white);
  border: 1px solid #ececec;
}
.form-checkbox {
  width: 2.4rem;
  height: 2.4rem;
}
.become-checkbox {
  flex: 1;
  margin-left: 2rem;
}
.btn-become {
  padding: 13px 38px;
  background: var(--color);
  color: var(--white);
}
.btn-become:hover {
  background: var(--white);
  color: var(--color);
}
.contact-item {
  padding: 5rem 29px;
  background: var(--white);
  border: 1px solid #ececec;
}
.open-time:not(:last-child) {
  margin-bottom: 5px;
}
.care-item {
  padding: 5rem 4rem 5.5rem;
  border: 1px solid #ececec;
}
.care-item__title.h4 {
  line-height: 19px;
}
.founder {
  background: url(../images/founder.png) no-repeat center center;
  padding: 205px 0;
  background-size: cover;
}
.founder-title {
  margin-bottom: 27px;
  line-height: 1.5em;
}
.cleaning-main {
  padding: 148px 90px;
  width: 50%;
}
.cleaning-main .h1 {
  line-height: 4rem;
}
.btn-cleaning {
  padding: 13px 34px;
}
.collection-product {
  padding: 151px 0;
  background: url(../images/shop.png) no-repeat center right;
}
.collection-product__descrition {
  max-width: 327px;
}
.shop-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 60px;
  scroll-snap-type: x mandatory;
}
.breadcrumb-filter {
  margin-bottom: 58px;
}
.filter-sort {
  margin-right: 68px;
}
.filter-filter,
.filter-sort {
  line-height: 19px;
}
/* FAQ */
.tab-header {
  list-style-type: none;
}
.tab-link {
  padding: 1rem;
  cursor: pointer;
  background-color: transparent;
  font-size: 2.2rem;
  line-height: 34px;
  color: var(--black3);
  transition: all 0.3s;
  white-space: nowrap;
}
.tab-link:not(:last-child) {
  margin-right: 40px;
}
.tab-link.active {
  border-bottom: 2px solid var(--black);
  color: var(--black);
}
.tab {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s, height 0.3s;
}
.tab.active {
  opacity: 1;
  height: auto;
}
.tab-item {
  box-shadow: inset 0px -1px 0px #abaab3;
  padding: 40px 0;
}
.question {
  cursor: pointer;
}
.path1,
.path2 {
  position: absolute;
  content: "";
  width: 21px;
  height: 2px;
  background: var(--black);
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.path2 {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}
.answer {
  display: none;
  padding-top: 45px;
  margin-bottom: 1rem;
}
.any-question__p,
.any-question__link {
  font-size: 2rem;
  line-height: 1.5em;
}
/* product detail */
.breadcrumb-link {
  font-size: 1.5rem;
  line-height: 1.6em;
  color: #babcc4;
  padding-right: 35px;
}
.breadcrumb-link:after {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  width: 5px;
  height: 5px;
  content: "";
  border-radius: 50%;
  background: #9ea0a8;
}
.breadcrumb-link:hover,
.breadcrumb-span {
  color: #46484f;
}
.breadcrumb-span {
  font-size: 1.6rem;
  line-height: 1.75em;
  color: #46484f;
}
.product-detail-main {
  align-items: flex-start;
  margin-top: 5rem;
}
/* product detail */
.tab-header.tab-product {
  justify-content: flex-start;
  box-shadow: inset 0px -1px 0px #ececec;
}
.tab-product .tab-link {
  padding: 37px 0;
  font-size: 1.6rem;
  line-height: 1.18em;
  scroll-snap-align: start;
}
.tab-product .tab-link:not(:last-child) {
  margin-right: 5rem;
}
.tab-content-title {
  font-size: 2.4rem;
  line-height: 1.2em;
}
.tab-content-li {
  text-transform: inherit;
  padding-left: 16px;
  color: #84848e;
}
.tab-content-li::before {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #46484f;
  content: "";
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.product-detail-slider {
  width: 49%;
  margin-right: 100px;
}
.product-info {
  width: 42%;
}
/* CSS cho slider và ảnh thumb */
.slider {
  height: 44vw;
  background-color: #ccc;
}
.slider img {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.thumb-slider {
  overflow: hidden;
}
.thumb-sliders {
  height: 161px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  transition: transform 0.5s ease;
}
.thumb-sliders img {
  width: 23%;
  scroll-snap-align: start;
  cursor: pointer;
}
.product-price {
  font-size: 3rem;
  line-height: 1.2em;
  color: #555562;
}
.product-size__text {
  margin-bottom: 17px;
}
.product-size__title {
  font-size: 1.6rem;
  line-height: 19px;
}
.product-size__link {
  color: var(--gray2);
  text-transform: inherit;
  letter-spacing: 1px;
  background: transparent;
  cursor: pointer;
}
.product-size__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -3rem;
  transform: translate(0, -50%);
  background: url(../images/find.png) no-repeat center center;
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
.product-size__size {
  height: 5rem;
  border: 1px solid #ececec;
  padding: 11px 18px;
  font-size: 1.6rem;
  line-height: 1.75em;
}
.product-size__size-item {
  font-size: 1.6rem;
  line-height: 1.75em;
}
.apr {
  padding: 7px 2rem 7px 18px;
  background: #f5f5f5;
  width: fit-content;
}
.product-button {
  grid-gap: 1.5rem;
  grid-template-columns: 15rem auto 5rem;
  grid-template-rows: 5rem 5rem;
}
.btn-buy {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background: var(--color);
}
.btn-love {
  padding: 15px;
  background: url(../images/love1.png) no-repeat center center;
  background-size: auto;
}
.btn-love:hover {
  background: url(../images/love1.png) no-repeat center center;
}
.product-button > * {
  border: 1px solid #ececec;
}
.decrease,
.increase {
  background: transparent;
}
.number {
  padding: 11px 18px;
}
.number > * {
  font-size: 1.6rem;
  line-height: 1.75em;
  color: #46484f;
}
