.header-top {
  position: relative;
  background: var(--color);
  padding: 13px 0;
  text-align: center;
  z-index: 3;
}

.header-top__title .h5 {
  color: var(--white);
}

.header-top__lang {
  position: absolute;
  top: 0;
  right: 50px;
  height: 50px;
}

#lang_sel {
  position: relative;
}

#lang_sel .nav-lang {
  display: inline-block;
  margin: 0;
  list-style: none;
}

#lang_sel .nav-lang-item {
  position: relative;
  padding: 13px 0;
  display: block;
}
#lang_sel .nav-lang-item .lang_sel_sel {
  position: relative;
  display: block;
  font-size: var(--heading-h5);
  line-height: var(--lh-h5);
  letter-spacing: 2px;
  color: var(--white);
  text-decoration: none;
  opacity: 0.7;
}
#lang_sel .nav-lang-item:hover .icl-item {
  top: 50px;
  visibility: visible;
  opacity: 1;
}
#lang_sel a,
#lang_sel a:visited {
  border: none;
  padding: 0;
}

#lang_sel .lang_sel_sel:after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  line-height: var(--lh-h5);
  background-image: url(../images/dropdown.png);
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
}
#lang_sel .nav-lang .icl-item {
  left: -20px;
  top: 55px;
  transition: all 0.3s;
  z-index: 999;
  position: absolute;
  background: var(--white);
  width: 130px;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
#lang_sel .nav-lang .icl-item:before {
  content: "";
  display: inline-block;
  background: transparent;
  height: 3px;
  width: 100%;
  position: absolute;
  top: -3px;
  right: 0;
}
#lang_sel .icl-item .icl-item-lang {
  background: var(--white);
  list-style: none;
  margin-bottom: 5px;
  transition: all 0.3s;
  border-radius: 5px;
}
#lang_sel .nav-lang .icl-item-lang.active,
#lang_sel .nav-lang .icl-item-lang:hover {
  border-color: #111;
  background: #f5f5f5;
  transition: all 0.3s;
}
#lang_sel .icl-item-lang .lang-link {
  font-size: 1.4rem;
  color: #777;
  display: block;
  height: auto;
  padding: 0 10px;
  line-height: 28px;
  height: 28px;
  text-transform: uppercase;
}
#lang_sel .icl-item-lang.active .lang-link,
#lang_sel .icl-item-lang:hover .lang-link {
  color: #111;
}
#lang_sel .nav-lang .icl-item-lang:last-child {
  margin-bottom: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1;
}

.header {
  position: relative;
}

.header-logo-img {
  height: 100%;
}

.header-bottom {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.header-logo {
  height: 70px;
}

.inline-link {
  display: inline-block;
  height: 100%;
}

/* button menu */

.navbar-toggler {
  padding: 0;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  display: inline-block;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(../images/menu\ 2.png);
}

.menu-main {
  align-items: center;
}

.menu-main .menu-item:not(:first-child) {
  padding-left: 50px;
}

.menu-item .menu-link {
  font-size: var(--heading-h5);
  line-height: var(--lh-h5);
  letter-spacing: 2px;
  color: #171719;
  text-transform: uppercase;
}

.header-populated .header-populated__item {
  width: 20px;
  height: 20px;
}

.header-populated .header-populated__item:nth-child(1),
.header-populated .header-populated__item:nth-child(2),
.header-populated .header-populated__item:nth-child(3) {
  margin-right: 25px;
}

.banner-main {
  position: relative;
}

.banner-main .slider-nav {
  position: absolute;

  top: 50%;
  left: 50px;
  right: 50px;
  display: flex;
  justify-content: space-between;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider-slide {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  transition: opacity 0.5s ease-in-out;
}

.slider-slide img {
  width: 100%;
}

.slider-slide__item {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

.slider-prev,
.slider-next {
  cursor: pointer;

  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: none;
  color: transparent;
}

.slider-prev {
  background: url(../images/Arrow-left.png);
}

.slider-next {
  background: url(../images/Arrow-right.png);
}

.shop-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* overflow: auto; */
}

.shop-category__main {
  flex-wrap: wrap;
}

.shop-featured__main {
  flex-wrap: nowrap;
  overflow: auto;
}

.shop-category__item {
  text-align: center;
  /* width: 23.8%; */
  position: relative;
}

.shop-category__item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.shop-category__item a {
  color: var(--white);
  border: none;
  cursor: pointer;
}

.discover {
  display: flex;
  flex-wrap: wrap;
}

.discover-media {
  width: 50%;
}

.discover-main {
  background: #f5f5f5;
  padding: 133px 90px;
  width: 50%;
}

.discover-main .title-main {
  margin-bottom: 20px;
}

.discover-text {
  margin-bottom: 70px;
}

.btn-discover {
  padding: 11px 31px;
}

.product-item {
  position: relative;
}

.product-item img {
  margin-bottom: 20px;
  width: 100%;
}

.product-love {
  position: absolute;
  top: 20px;
  right: 20px;
}

.product-love a img {
  margin-bottom: 0;
}

.product-item__content {
  text-align: center;
}

.price {
  font-size: var(--heading-h5);
  line-height: var(--lh-h5);
  text-align: center;
  color: #555562;
  margin-bottom: 20px;
}

.collection {
  background: url(../images/collection.png) no-repeat left top;
  background-size: cover;
}

.collection-main {
  padding: 185px 0;
  width: 100%;
  max-width: 327px;
}

.collection-text {
  color: var(--gray);
}

.btn-see {
  color: var(--white);
  background: var(--color);
  position: relative;
}

.btn-see::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -10px;
  width: 5px;
  height: 9px;
  background: url(../images/seemore.png) no-repeat center center;
  transform: translate(0, -50%);
}

.service {
  background: #f5f5f5;
}

.service-item {
  background: var(--white);
  padding: 50px 20px;
  text-align: center;
}

.service-item .price {
  color: var(--gray2);
  margin-bottom: 30px;
}

.service-item.mb-20 {
  margin-bottom: 0;
}

.footer {
  background: var(--black);
}

.footer-logo-link {
  display: inline-block;
}

.footer-top {
  padding: 50px 0;
  text-align: center;
  border-bottom: 1px solid #313135;
}

.footer-bottom {
  text-align: center;
  padding: 23px 0;
}

.footer-bottom__text {
  font-size: var(--heading-h5);
  line-height: var(--lh-h5);
  color: var(--gray2);
}

.footer-mid {
  padding-top: 70px;
  padding-bottom: 68px;
}

.footer-mid__item-title {
  font-size: var(--heading-h5);
  line-height: var(--lh-h5);
  letter-spacing: 2px;
  color: var(--white);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-mid__text {
  font-weight: 400;
  font-size: var(--heading-h5);
  line-height: var(--lh-h5);
  color: var(--gray2);
  transition: all 0.3s;
}

.footer-mid__text:hover {
  color: var(--white);
}

.footer__item-des-item:not(:last-child) {
  margin-bottom: 15px;
}

.form-footer {
  display: flex;
  margin-bottom: 70px;
}

.footer-input,
.footer-button {
  background: #262628;
  padding: 9px 10px 8px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: var(--heading-h5);
  line-height: var(--lh-h5);
}

.footer-input,
.footer-input::placeholder {
  color: var(--gray2);
  width: 100%;
}

.footer-button {
  color: var(--white);
  transition: all 0.3s;
}

.footer-button:hover {
  cursor: pointer;
  background: var(--white);
  color: var(--gray2);
}

.footer-social-ul {
  height: 20px;
}

.footer-social-li:not(:last-child) {
  margin-right: 25px;
}

.footer-social-link {
  display: inline-block;
}

.video-container {
  position: relative;
  height: 100%;
}

#playPauseBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
}

#playPauseBtn:hover {
  cursor: pointer;
}

#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Our History */

.banner-page {
  padding: 82px 0;
  background: #f5f5f5;
}

.history {
  background: #f5f5f5;
}

.history-item__content {
  padding: 142px 0;
}

.history-des .history-des-title {
  font-weight: 500;
  color: var(--black);
}

.history-item:not(:last-child) {
  margin-bottom: 100px;
}

.why {
  background: url(../images/why.png) no-repeat center center;
  background-size: cover;
  padding: 175px 0;
}

.why-des {
  margin-bottom: 41px;
}

.his_items-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* become */

.form-item__title {
  margin-bottom: 11px;
}

.become-form__item .form-control,
.become-form__item .form-select__option,
.become-checkbox {
  text-transform: inherit;
}

.form-select,
.form-input-item {
  height: 60px;
}

.form-input-item,
.form-textarea {
  color: var(--black3);
}

.form-control-item {
  width: 100%;
  padding: 18px 20px;
  background: var(--white);
  border: 1px solid #ececec;
}

.form-checkbox {
  width: 24px;
  height: 24px;
}

.become-checkbox {
  flex: 1;
  margin-left: 20px;
}

.btn-become {
  padding: 13px 38px;
  background: var(--color);
  color: var(--white);
}

.btn-become:hover {
  background: var(--white);
  color: var(--color);
}

.contact-item {
  padding: 50px 29px;
  background: var(--white);
  border: 1px solid #ececec;
  height: 100%;
}

.contact-item__des {
  margin-bottom: 5px;
}

.open-time:not(:last-child) {
  margin-bottom: 5px;
}

.care-item {
  padding: 50px 40px 55px;
  border: 1px solid #ececec;
}

.care-item__title.h4 {
  line-height: 19px;
}

.founder {
  background: url(../images/founder.png) no-repeat center center;
  padding: 205px 0;
  background-size: cover;
}

.founder-title {
  margin-bottom: 27px;
  line-height: 1.5em;
}

.founder-des {
  color: var(--gray);
  font-weight: 600;
}

.cleaning {
  flex-wrap: wrap;
}

.cleaning-main {
  padding: 148px 90px;
  background: #f5f5f5;
  width: 50%;
}

.cleaning-main .h1 {
  line-height: 4rem;
}

.img-container__img {
  width: 100%;
}

.btn-cleaning {
  padding: 13px 34px;
}

.collection-product {
  padding: 151px 0;
  background: url(../images/shop.png) no-repeat center right;
}

.collection-product-title {
  margin-bottom: 5px;
}

.collection-product__descrition {
  color: var(--gray);
  max-width: 327px;
}

.shop-collection {
  flex-wrap: wrap;
}

.shop-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 60px;
}

.breadcrumb-filter {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}

.filter-sort {
  margin-right: 68px;
}

.filter-filter,
.filter-sort {
  border: none;
  padding: 0;
  font-weight: 600;
  line-height: 19px;
}
